{% extends 'base.html' %}
{% block content %}

<h1>login</h1>
   <div class="container-sm center">
        <div>
            <form class="card-body d-grid" action="{% url 'accounts:login' %}" method="POST">
                {{ form }}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
               <button class="btn button justify-content-center mt-3" type="submit">login</button>
            {% csrf_token %}
            </form>
        </div>
   </div>
{% endblock %}


